*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
}
.left{
    margin-top: 2.5rem;
    margin-left: 2rem;
}
.rigth{
    position: relative;
    left: 90rem;
    margin-top: 2rem;
}
header a{
    margin: 0.7rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.67);
    
} 
header input{
    background-color: #4285f4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 5rem;
    font-size: 1rem;
    font-weight: 700;
}
header input:hover{
    background-color: white;
    color: #4285f4;
}
header img{
    position: relative;
    opacity: 0.5;
    width: 2rem;
    top:0.5rem;
    
    
}
.logo{
    display: flex;
    margin: auto;
    margin-top: 10rem;
}
.search{
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 1.5rem;
    width: 35rem;
    padding: 1rem;
    border-radius: 5rem;
    border-color: rgba(10, 10, 10, 0.072);
}
.mic{
    display: flex;
    position: relative;
    height: 1.4rem;
    bottom: 3.5rem;
    margin-left: 74rem;
    
}
.icon{
    display: flex;
    position: relative;
    bottom: 2rem;
    margin-left: 45rem;
    opacity: 0.4;
}
.lucky{
    width: fit-content;
    margin: auto;
}
.lucky input{
    padding: 0.8rem;
    border-radius: 5px;
    border: none;
    opacity: 0.6;
    font-weight: 500;
    margin-right: 1rem;
    width: 10rem;
}
.lucky input:hover{
    background-color: grey;
    color: white;
}
p{
    margin-top: 1rem;
    font-size: 1rem;
}
p a{
    color: blue;
}